body {
  background: url('../img/background_pattern.png');
  font-family: 'Lato', 'Helvetica', sans-serif;
  font-size: 22px;
  font-weight: 400;
}

a {
  color: #333333;

  &:hover{
    color: #40D5A2;
    text-decoration: none;
  }
}

h2 {
  font-size: 22px;
  padding-top: 20px;
}

h3 {
  padding: 30px 0px 10px;
}

p {
  font-size: 17px;
  line-height: 23px;
}

li {
  float: left;
}

input {
  font-family: 'Lato', 'Helvetica', sans-serif;
}

.background {
  background: #ffffff;
  padding: 70px 0px 90px;
  margin: 0px auto 50px;
  max-width: 1171px;
}

input:focus:required:invalid:focus,
textarea:focus:required:invalid:focus,
select:focus:required:invalid:focus {
  border-color: #7ee9db;
  -webkit-box-shadow: 0 0 6px #b6e9e2;
  -moz-box-shadow: 0 0 6px #b6e9e2;
  box-shadow: 0 0 6px #b6e9e2;
}

.nav {
  display: block;
  margin: auto;
  padding: 20px 0px 0px;
}

.nav li.selected{
  font-weight:700;
  background: url('/assets/img/triangle.png') no-repeat bottom center;
}

.navbar-inner .container{
  max-height:90px;
}

.navbar {
  margin: 0px;
  height: 90px;
}

.navbar .nav {
  left: auto;
  float: none;
  margin: 0 auto;
  width: 514px;
}

.navbar .nav > li {
  padding-top: 15px;
  padding-bottom:16px;
}

.navbar .nav > li.logo {
  padding-top: 0px;
  margin-top: -8px;
}

.phonelogo{
    position:absolute;
    top:65px;
    left:118px;
}

.navbar .nav > li > a {
  color: #ffffff;
  font-size: 18px;
}

.navbar .nav > li > a, footer li {
  &:hover{
    color: #40d5a2;
  }
}

.navbar .nav > li > a > img {
  padding-top: 0px;
}

.navbar-inner {
  background: url('../img/background_pattern.png');
  padding: 0px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.banner {
  background: url('../img/banner_pattern.jpg');
  padding: 40px 0px 30px;
  margin: 0 auto;

  .banner-image {
    display: block;
    float: none;
    margin: 0 auto;
    width: 841px;
  }

  img {
    float: left;
  }

  img.welcome {
    margin-right: -30px;
  }

  img.beaker {
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
  }

  img.beaker:hover {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
  }

  img.tagline {
    margin-left: -15px;
  }
}

.featured-app {
  -moz-box-shadow: 0px 0px 20px #000;
  -webkit-box-shadow: 0px 0px 20px #000;
  box-shadow: 0px 0px 20px #000;
}

.screenshot {
  margin-top: 20px;
}

.star {
  vertical-align: 0px;
  margin-right: 5px;
}

.blurb {
  padding-top: 52px;

  p {
    font-size: 18px;
    line-height: 24px;
  }
}

.cities {
  padding-top: 5px;

  li {
  padding-right: 35px;
  line-height: 34px;
  }

  a {
    color: #333333;
  }

  a:hover{
    color: #40d5a2;
  }
}

.citysignup input[type="text"],
.citysignup input[type="email"] {
  float: left;
  font-size: 16px;
  height: 28px;
  margin-right: 10px;
}

.button {
  background: #40d5a2;
  border: none;
  color: #ffffff;
  float: left;
  font-size: 18px;
  padding: 10px 30px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

  &:hover {
  background: #70e9d9;
  }
}

.broughtby {
  padding: 0px 0px 60px;
  
  .center {
    margin: 0 auto;
    width: 334px;
  }
}

.plus {
  font-size: 40px;
  color: #ffffff;
  padding: 0px 10px 0px 5px;
}

footer {
  background: #5ca89e url('../img/footer_image.png') no-repeat center 100%;
  border-bottom: 10px #86eabb solid;
  padding: 30px 0px 50px;

  input, textarea {
    float: left;
    margin-right: 5px;
    width: 175px;
  }

  label {
    color: #ffffff;
    float: left;
    font-size: 16px;
    font-weight: 400;
    margin: 2px 7px 0px 0px;
    padding-top: 0px;
  }

  .small-button {
    background: #9d3567;
    border: none;
    color: #ffffff;
    float: left;
    padding: 5px 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    
    &:hover {
     background: #611D40;
    }
  }

  ul {
    float: right;
  }

  a {
    color: #ffffff;
    font-size: 16px;
    padding-right: 20px;
  }

  a:hover{
    color: #9d3567;
  }

  .span7 {
    float: right;
  }
}


/* experiments page
------------------------------------------------*/
  
.experimentsnav li {
  float: none;
  padding: 20px 0px;
  cursor: pointer;

  &:hover {
    color: #40d5a2;
  }
}

.experimentsnav li.selected {
   font-weight: bold;
   color: #40d5a2;
}

div.experiments{
   display: none;
}

div.screenshots :first-child{
   display: block;
}
.screenshots {
  margin: 57px 50px 0px;
  text-align: center;
  font-size: 18px;

  h2 {
    font-size: 26px;
    margin: 7px 0px 2px;
  }

  .screenshot-tagline {
    border-bottom: 1px lightgray solid;
    color: #4BCFBF;
    font-style: italic;
    padding-bottom: 27px;
  }

  h3, 
  .screenshot-info {
    text-align: left;
  }

  h3 {
    padding: 0px 0px 5px;
  }

  .screenshot-info {
    margin: 27px 0px 23px;
  }

  .cities {
    padding: 5px 0px 38px;

    li {
      line-height: 15px;
    }
  }
}

.browser_comp {
  margin-bottom: 75px;
}

.browser {
  background: url('../img/browser_compatibility.png') no-repeat; 
  display: block;
  width: 47px;
  height: 47px;
  margin-right: 5px;
}

.firefox {
  background-position: -53px 0;
}

.opera {
  background-position: -105px 0;
}

.ie {
  background-position: -155px 0;
  width: 55px;
}

a.github,
a.contat {
  font-size: 16px;
}

a.github {
  padding: 10px 0px 0px 13px;
}

.github {
  background: url('../img/octocat_icons_sprite2.png') no-repeat; 
  display: block;
  width: 200px;
  height: 30px;

  &:hover {
    background-position: 0px -40px;
  }
}

.contact {
  width: 325px;
  height: 30px;
  display: block;
  background: url('../img/mail_icons_sprite2.png') no-repeat; 

  &:hover {
    background-position: 0px -34px;
  }

}

a.contact {
  padding: 5px 0px 0px 15px;
  margin-top: 4px;
}


/* about page
------------------------------------------------*/

li.news {
  float: none;
  font-size: 17px;
  line-height: 28px;
}

.news a {
  font-weight: bold;
}

.molecules {
  display: block;
  width: 350px;
  height: 500px;
  background-image: url('../img/molecules_sprite.gif');
  max-width:100%;
  &:hover {
    background-position: -385px 0px;
  }
}


/* contact page
------------------------------------------------*/

.social {

  li {
    margin: 10px 15px 0px 0px;
  }

  .mail,
  .octocat,
  .twitter,
  .cfa {
    display: block;
    width:  60px;
    height: 60px;
  }

  .mail {
    background-image: url('../img/mail_icons.png');
  }

  .octocat {
    background-image: url('../img/octocat_icons.png');
  }

  .twitter {
    background-image: url('../img/twitter_icons.png');
  }

   .cfa {
    background-image: url('../img/cfa_icons.png');
  }

  .mail:hover,
  .octocat:hover,
  .twitter:hover,
  .cfa:hover {
    background-position: 0px -59px;
  }

}

.contactform {
  background: #edeceb;
  margin: 66px 0px 0px 6%;
  padding: 35px 10px 35px 3%;
  
  input[type="text"],
  input[type="email"] {
    float: left;
    height: 28px;
    margin: 0px 10px 20px 0px;
    width: 91%;
  }

  select {
    margin-bottom: 20px;
  }

  textarea {
    width: 91%;
    resize: vertical;
    margin-bottom: 20px;
  }
}

.quote {
  background-image: url('../img/quote_sprite.gif');
  display: block;
  float: none;
  width: 570px;
  height: 88px;
  margin: 50px auto 0px;
  max-width:100%;
  &:hover {
    background-position: 0px 86px;
  }
}

 /* modal
------------------------------------------------*/

.modal {
  border: 11px rgba(255, 255, 255, 0.7) solid;
  margin-left: -255px;
  width: 490px;
}

.modal-header,
.modal-body,
.modal-footer {
  text-align: center;
}

.modal-header {
  border-bottom: none;
  padding-bottom: 4px;

  img {
    margin: 0 auto;
    display: block;
    padding-top: 30px;
  }

  h2 {
    padding-top: 12px;
  }
}

.modal-body {
  padding: 0px;
}

.modal-footer {
  background-color: white;
  border-top: none;
  padding: 15px 0px 40px;


  .btn {
    background: #9d3567;
    border: none;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 30px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    
    &:hover {
     background: #611D40;
    }
  }
}

 /* media queries
------------------------------------------------*/

@media (max-width: 767px) {
  .navbar .nav{
     width:100%;
  }
}

@media (max-width: 550px) {
  .navbar .nav > li > a{
    font-size:12px;
  }
}

@media (max-width: 430px) {

  body {
    padding-left: 0px;
    padding-right: 0px;
  }

  .navbar .nav > li > a{
    font-size: 13px;
  }

  .background {
    padding: 90px 27px 50px 40px;
    margin-bottom: 32px;
  }

  .app h1 {
      line-height: 18px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
    line-height: 26px;
  }

  .featured-app {
    
    &.background {
      padding-top: 35px;
    }

    .blurb {
    padding-top: 10px;
    }

  }

  .blurb img {
    margin: 0 auto;
    display: block;
  }

  .cities li {
    float: none; 
    text-align: center;
  }

  .citysignup input {
    width: 230px;
  }

  input[type="submit"] {
    width: 240px;
  }

  .broughtby {
    padding-bottom: 30px;
  }

  .broughtby .center {
    width: 250px;
  }

  .broughtby img {
    width: 41%;
  }

  .plus {
    font-size: 30px;
  }

  #main footer {
    padding-top: 10px;
  }

  .emailsignup form {
    padding-left: 35px;
  }

  .emailsignup input {
    width: 170px;
  }

  #submit-email {
    width: 70px;
  }

  footer {
    
    label {
      padding-bottom: 9px;
    }

    ul {
      margin-top: 15px;
      margin-bottom: 75px;
    }

    a {
      font-size: 13px;
    }

  }

  .experimentsnav li {
    padding: 12px 0px;
  }

  .screenshots {
    font-size: 15px;
    margin: 20px 10px 0px;
  }

  .screenshots .cities {
    padding-bottom: 15px;
  }

  .screenshots .cities li {
    font-size: 20px;
    line-height: 30px;
  }

  a.github, a.contact {
    font-size: 13px;
    padding-left: 0px;
  }

  a.contact {
    width: 270px;
  }

  .social {
    .mail, .octocat, .twitter, .cfa {
      background-size: 52px;
      width: 52px;
      height: 52px;
    }
  }

  .social li {
    margin-right: 11px;
  }

  .contactform {
    margin: 100px 0px 0px 0%;
    padding: 25px 10px 35px 9%;

    .button {
      padding: 10px 33%;
    }
  }

}

