body {
  font-family: 'Lato', 'Helvetica', sans-serif;
  font-weight: 400;
  background: url('../img/background_pattern.png');
  font-size: 22px;
}

h2 {
  font-size: 22px;
  padding-top: 20px;
}

h3 {
  padding: 20px 0px 10px;
}

p {
  font-size: 18px;
  line-height: 24px;
}

input {
    font-family: Lato;
}

.nav {
  padding: 20px 0px 0px 370px;
  display: block;
  margin: auto;
}

.navbar {
  margin: 0px;
  height: 90px;
}

.navbar .nav > li > a {
  color: #ffffff;
}

.navbar .nav > li > a, footer li {
  &:hover{
    color: #40d5a2;
    text-decoration: underline;
  }
}

.navbar .nav > li > a > img {
  padding-top: 0px;
}

.navbar-inner {
  background: url('../img/background_pattern.png');
  padding-left: 0;
  padding-right: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.banner {
  background: url('../img/banner_pattern.jpg');
  padding: 45px 0px 40px 300px;

}

.featured-app {
  background: #ffffff;
  padding-bottom: 30px;
  margin: 0px 50px;
}

.screenshot {
  margin-top: 20px;
}

.star {
  vertical-align: 0px;
  margin-right: 5px;
}

.blurb {
  padding-top: 83px;
}

.app {
  padding-top: 30px;
}

.cities {

  padding-top: 10px;

  li {
  float: left;
  padding-right: 35px;
  }

  a {
    color: #000000;
  }

  a:hover{
    color: #40d5a2;
  }
}

.citysignup {

  input[type="text"], input[type="email"] {
  float: left;
  height: 28px;
  margin-right: 10px;
  }

}

.button {
  color: #ffffff;
  float: left;
  font-size: 18px;
  background: #40d5a2;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.broughtby {
  padding: 60px 0px 60px 480px;
}

.broughtbytxt {
  font-size: 20px;
  font-style: italic;
  color: #ffffff;
}

.plus {
  font-size: 40px;
  color: #ffffff;
  padding: 0px 10px 0px 5px;
}

footer {
  background: #5ca89e;
  padding: 30px 0px 50px;

  input, textarea {
    width: 175px;
    float: left;
    margin-right: 5px;
  }

  label {
    padding-top: 0px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    float: left;
    margin: 2px 7px 0px 0px;
  }

  .small-button {
    float: left;
    color: #ffffff;
    background: #9d3567;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }

  ul {
    float: right;
  }

  li {
    float: left;
  }

  a {
    color: #ffffff;
    padding-right: 20px;
    font-size: 18px;
  }

  a:hover{
    color: #40d5a2;
  }

  .span7 {
    float: right;
  }

}





