<div class="modal hide" id="contact-modal">
  <div class="modal-header">
    <img src="assets/img/heart.png" alt="heart" />

    <!-- this will close the modal without taking you to the main page -->
    <!-- <button type="button" class="close" data-dismiss="modal">×</button> -->
    <h2>Thanks for your interest!</h2>
  </div>
  <div class="modal-body">
    <p>We'll be in touch with you soon. Have a data-rific day!</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">OK!</a>
  </div>
</div>
