<div class="navbar-inner">
  <div class="container">
    <div class="row">
  	  <div class="span12 navbar">
  	    <ul class="nav">
          <li><a href="/experiments">Experiments</a></li>
          <li><a href="http://open311.org/" target="_blank">Open311</a></li>
          <li class="logo"><a href="/"><img src="assets/img/labs_logo.png"></a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact-us">Contact Us</a></li>
        </ul>
  	  </div>
	  </div>
  </div>
</div>

<div class="background">
  <div class="container">
    
    <div class="row">
      <div class="span10 offset1">
        <h1>ABOUT</h1>
        <h2>What is 311 Labs?</h2>
        <p>A space where your dreams of the possiblities of 311 data can become a reality! We're here to experiment and play, but most importantly our goal is to help inform citizens and cities along the way.</p>
        <h2>What is 311?</h2>
        <p>We're not referring to the band from the 90s, it's the number you call to report non-emergency service requests from your city. Examples of non-emergency service requests include: potholes, grafitti removal, street lights are out, tree trim, etc.</p>
      </div>
    </div>

    <div class="row">
    	<div class="span10 offset1">
	    	<h2>Meet the Scientists</h2>
	      <div class="team">
			    <div class="team_li">
			      <img src="assets/img/jesse.jpg" />
			      <h3>Jesse Bounds</h3>
			      <p><span>Q:</span> What do you love most about data?</p>
			      <p><span>A:</span> Everything!</p>
			    </div>
			    <div class="team_li">
			      <img src="assets/img/angel.jpg" />
			      <h3>Angel Kittiyachavalit</h3>
			      <p><span>Q:</span> What's your favorite service request?</p>
			      <p><span>A:</span> Potholes, can't get enough of those guys.</p>			    
			    </div>
			    <div class="team_li">
			      <img src="assets/img/mick.jpg" />
			      <h3>Mick Thompson</h3>
			      <p><span>Q:</span> If you could be a service request, which one would you be?</p>
			      <p><span>A:</span> Tree trims.</p>	
			    </div>
			  </div>
		  </div>
	  </div>

  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="span5 emailsignup">
        <label>Civic experiments, delivered!</label>
        <input type="email" class="input-text" required="required" name="emailAddress" placeholder="ENTER YOUR EMAIL">
        <input type="submit" class="small-button" value="JOIN">
      </div>
      <div class="span7">  
        <ul class="unstyled">
          <li><a href="/">Experiments</a></li>
          <li><a href="http://open311.org/" target="_blank">Open311</a></li>
          <li><a href="/">About</a></li>
          <li><a href="/">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>