<div class="navbar-inner">
  <div class="container">
    <div class="row">
  	  <div class="span12 navbar">
  	    <ul class="nav">
          <li><a href="/experiments">Experiments</a></li>
          <li><a href="http://open311.org/" target="_blank">Open311</a></li>
          <li class="logo"><a href="/"><img src="assets/img/labs_logo.png"></a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact-us">Contact Us</a></li>
        </ul>
  	  </div>
	  </div>
  </div>
</div>

<div class="background">
  <div class="container">
    
    <div class="row">
      <div class="span6 offset1">
        <h1>ABOUT</h1>
        <h2>What is 311 Labs?</h2>
        <p>A space where your dreams of the possiblities of 311 data can become a reality! We're here to experiment and play, but most importantly our goal is to help inform citizens and cities along the way.</p>
        <h2>What is 311?</h2>
        <p>We're not referring to the band from the 90s, it's the number you call to report non-emergency service requests from your city. Examples of non-emergency service requests include: potholes, grafitti removal, street lights are out, tree trim, etc.</p>
        <h2>The Scientists</h2>
        <p><a href="http://codeforamerica.org">Code for America</a> helps governments work better for everyone with the people and the power of the web. Through our <a href="http://codeforamerica.org/fellows/">Fellowship</a>, <a href="http://codeforamerica.org/accelerator/">Accelerator</a>, and <a href="http://brigade.codeforamerica.org/">Brigade</a>, we're building a network of cities, citizens, community groups, and startups, all equally committed to reimagining government for the 21st century.</p>
      </div>
      <div class="span4 molecules">
<!--         <img src="assets/img/molecules.png" /> -->
      </div>
    </div>

  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="span5 emailsignup">
        <label>Civic experiments, delivered!</label>
        <input type="email" class="input-text" required="required" name="emailAddress" placeholder="ENTER YOUR EMAIL">
        <input type="submit" class="small-button" value="JOIN">
      </div>
      <div class="span7">  
        <ul class="unstyled">
          <li><a href="/">Experiments</a></li>
          <li><a href="http://open311.org/" target="_blank">Open311</a></li>
          <li><a href="/">About</a></li>
          <li><a href="/">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>