<div class="navbar-inner">
  <div class="container">
    <div class="row">
  	  <div class="span12 navbar">
  	    <ul class="nav">
          <li><a href="/experiments">Experiments</a></li>
          <li><a href="http://open311.org/" target="_blank">Open311</a></li>
          <li class="logo"><a href="/"><img src="assets/img/labs_logo.png"></a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact-us">Contact Us</a></li>
        </ul>
  	  </div>
	  </div>
  </div>
</div>

<div class="background">
  <div class="container">

    <div class="row">
      <div class="span5 offset1 contactus">
        <h1>CONTACT US</h1>
        <h2>Thanks for stopping by!</h2>
        <p>If you saw something that you liked, didn’t like, or just want to say hi, we’d love to hear from you. Please do not hesitate to contact us by filling out the form to your right or email us. We’ll reply to you as soon as we can.</p>
        <h2>We're social scientists, connect with us:</h2>
        <ul class="unstyled social">
          <li><a class="mail" href="mailto:311labs@codeforamerica.org" target="_blank"></a></li>
          <li><a class="octocat" href="https://github.com/codeforamerica" target="_blank"></a></li>
          <li><a class="twitter" href="http://twitter.com/311labs" target="_blank"></a></li>
          <li><a class="cfa" href="http://codeforamerica.org" target="_blank"></a></li>
        </ul>
      </div>
      <div class="span4 contactform">
        <form action="">
          <input type="email" class="input-text" required="required" name="emailAddress" placeholder="ENTER YOUR EMAIL">
          <input type="text" class="input-text" required="required" name="city" placeholder="ENTER YOUR CITY">
          <textarea rows="5" cols="10" name="note" placeholder="LEAVE A NOTE"></textarea>
          <input type="submit" class="button" value="SUBMIT">
        </form>
      </div>  
    </div>

    <div class="row">
      <div class="span9 offset1 quote">
      </div>
    </div>

  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="span5 emailsignup">
        <label>Civic experiments, delivered!</label>
        <input type="email" class="input-text" required="required" name="emailAddress" placeholder="ENTER YOUR EMAIL">
        <input type="submit" class="small-button" value="JOIN">
      </div>
      <div class="span7">  
        <ul class="unstyled">
          <li><a href="/">Experiments</a></li>
          <li><a href="http://open311.org/" target="_blank">Open311</a></li>
          <li><a href="/">About</a></li>
          <li><a href="/">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>