<div class="background">
  <div class="container">

    <div class="row">
      <div class="span5 offset1">
        <h1>CONTACT US</h1>
        <h2>Thanks for stopping by!</h2>
        <p>If you saw something that you liked, didn’t like, or just want to say hi, we’d love to hear from you. Please do not hesitate to contact us by filling out the form to your right or email us. We’ll reply to you as soon as we can.</p>
        <h2>We're social scientists, connect with us:</h2>
        <ul class="unstyled social">
          <li><a class="mail" href="mailto:311labs@codeforamerica.org"></a></li>
          <li><a class="octocat" href="https://github.com/codeforamerica" target="_blank"></a></li>
          <li><a class="twitter" href="http://twitter.com/311labs" target="_blank"></a></li>
          <li><a class="cfa" href="http://codeforamerica.org" target="_blank"></a></li>
        </ul>
      </div>
      <div class="span4 contactform">
        <form onSubmit="return false;">
          <input type="email" id="emailAddress" class="input-text" required="required" name="emailAddress" placeholder="ENTER YOUR EMAIL">
          <input type="text" id="city" class="input-text" required="required" name="city" placeholder="ENTER YOUR CITY">
          <textarea rows="5" id="note" cols="10" name="note" placeholder="LEAVE A NOTE"></textarea>
          <input type="submit" class="button" id="submit-email-city-note" value="SUBMIT">
        </form>
      </div>  
    </div>

    <div class="row">
      <div class="span9 offset1 quote">
      </div>
    </div>

  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="span6 emailsignup">
        <form onSubmit="return false;">
          <label>Civic experiments, delivered!</label>
          <input type="email" id="emailAddress" class="input-text" required="required" name="emailAddress" placeholder="ENTER YOUR EMAIL">
          <input type="submit" id="submit-email" class="small-button" value="JOIN">
        </form>
      </div>
      <div class="span6">  
        <ul class="unstyled">
          <li><a href="/experiments">Experiments</a></li>
          <li><a href="http://open311.org/" target="_blank">Open311</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact-us">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
