<div class="navbar-inner">
  <div class="container">
    <div class="row">
	  <div class="span12 navbar">
	    <ul class="nav">
        <li><a href="/">Experiments</a></li>
        <li><a href="http://open311.org/" target="_blank">Open311</a></li>
        <li class="logo"><a href="/"><img src="assets/img/labs_logo.png"></a></li>
        <li><a href="/">About</a></li>
        <li><a href="/">Contact Us</a></li>
      </ul>
	  </div>
	</div>
  </div>
</div>

<div class="row banner">
 <div class="span12 banner-image">
   <img src="assets/img/banner.png" alt="Welcome to 311 Labs" />
 </div>
</div>  

<h1>this is labz</h1>

<span>you like it?</span>
<span>maybe you try click on links?</span><br />

<br />
<br />

<li>
<a href="http://dailybrief.herokuapp.com/boston">Boston DailyBrief-a-roo</a>
</li><br />
<li>
<a href="http://dailybrief.herokuapp.com/baltimore">Balti MOAR!!!! brief</a>
</li>

<br />
<br />
<br />

<h3>
  <span>thank you for trying the briefs - send us the
    <a href="http://www.forcefeedback.tv/"> feedback?</a></span>
</h3>
</div>


