<div class="navbar-inner">
  <div class="container">
    <div class="row">
  	  <div class="span12 navbar">
  	    <ul class="nav">
          <li><a href="/">Experiments</a></li>
          <li><a href="http://open311.org/" target="_blank">Open311</a></li>
          <li class="logo"><a href="/"><img src="assets/img/labs_logo.png"></a></li>
          <li><a href="/">About</a></li>
          <li><a href="/">Contact Us</a></li>
        </ul>
  	  </div>
	  </div>
  </div>
</div>

<div class="banner">
  <div class="container">
    <div class="row">
     <div class="span12 banner-image">
       <img class="welcome"src="assets/img/welcome.png" alt="Welcome" />
       <img class="beaker" src="assets/img/beaker2.png" alt="Beaker" />
       <img class="tagline" src="assets/img/labs.png" alt="Pushing the boundaries of civic data - one service request at a time" />
     </div>
    </div>
  </div>
</div>  

<div class="featured-app">
  <div class="container">
    
    <div class="row">
      <div class="span5 offset1 app">
        <h1><img class="star" src="assets/img/star.jpg">FEATURED APP:</h1>
        <img class="screenshot" src="assets/img/daily_brief_screenshot.jpg" alt="The Daily Brief" />
      </div>
      <div class="span6 blurb">
        <img src="assets/img/daily_brief_logo.jpg" alt="The Daily Brief logo" />
        <p>Get a snapshot of what is going on in your city now based on<br />Open311 data.</p>
        <h2>Check out cities that are currently using it:</h2>
        <ul class="unstyled cities">
          <li><a href="http://dailybrief.311labs.org/boston">Boston, MA</a></li>
          <li><a href="http://dailybrief.311labs.org/baltimore">Baltimore, MD</a></li>
          <li><a href="http://dailybrief.311labs.org/bloomington">Bloomington, IN</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="span11 offset1 citysignup">
        <h3>Want The Daily Brief in your city? Let our scientist know!</h3>
        <input type="email" class="input-text" required="required" name="emailAddress" placeholder="ENTER YOUR EMAIL">
        <input type="text" class="input-text" required="required" name="city" placeholder="ENTER YOUR CITY">
        <input type="submit" class="button" value="SUBMIT">
      </div>  
    </div> 

  </div>
</div>

<div class="broughtby">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="center">
          <span class="broughtbytxt">Brought to you by:</span><br />
          <img src="assets/img/cfa_logo.png" alt="Code for America logo" /> 
          <span class="plus">+</span>
          <img src="assets/img/chi_logo.png" alt="City of Chicago logo" />
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="span5 emailsignup">
        <label>Civic experiments, delivered!</label>
        <input type="email" class="input-text" required="required" name="emailAddress" placeholder="ENTER YOUR EMAIL">
        <input type="submit" class="small-button" value="JOIN">
      </div>
      <div class="span7">  
        <ul class="unstyled">
          <li><a href="/">Experiments</a></li>
          <li><a href="http://open311.org/" target="_blank">Open311</a></li>
          <li><a href="/">About</a></li>
          <li><a href="/">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>