<div class="banner">
  <div class="container">
    <div class="row">
     <div class="span12 banner-image">
       <img class="welcome"src="assets/img/welcome.png" alt="Welcome" />
       <img class="beaker" src="assets/img/beaker2.png" alt="Beaker" />
       <img class="tagline" src="assets/img/labs.png" alt="Pushing the boundaries of civic data - one service request at a time" />
     </div>
    </div>
  </div>
</div>  

<div class="featured-app background">
  <div class="container">
    
    <div class="row">
      <div class="span5 offset1 app">
        <h1><img class="star" src="assets/img/star.jpg">FEATURED APP:</h1>
        <img class="screenshot" src="assets/img/daily_brief_screenshot.jpg" alt="The Daily Brief" />
      </div>
      <div class="span6 blurb">
        <img src="assets/img/daily_brief_logo.jpg" alt="The Daily Brief logo" />
        <p>Get a snapshot of what is going on in your city now based on Open311&nbsp;data.</p>
        <h2>Check out cities that are currently using it:</h2>
        <ul class="unstyled cities">
          <li><a href="http://dailybrief.311labs.org/boston" target="_blank">Boston, MA</a></li>
          <li><a href="http://dailybrief.311labs.org/baltimore" target="_blank">Baltimore, MD</a></li>
          <li><a href="http://dailybrief.311labs.org/bloomington" target="_blank">Bloomington, IN</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="span11 offset1 citysignup">
        <h3>Want The Daily Brief in your city? Let our scientists know!</h3>
        <form onSubmit="return false;">
          <input type="email" id="emailAddress" class="input-text" required="required" name="emailAddress" placeholder="ENTER YOUR EMAIL">
          <input type="text" id="city" class="input-text" required="required" name="city" placeholder="ENTER YOUR CITY">
          <input type="submit" id="submit-email-city" class="button" value="SUBMIT">
        </form>
      </div>  
    </div> 

  </div>
</div>

<div class="broughtby">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="center">
          <a href="http://codeforamerica.org"><img src="assets/img/cfa_logo.png" alt="Code for America logo" /></a>
          <span class="plus">+</span>
          <a href="http://www.cityofchicago.org/city/en.html"><img src="assets/img/chi_logo.png" alt="City of Chicago logo" /></a>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="span6 emailsignup">
        <form onSubmit="return false;">
          <label>Civic experiments, delivered!</label>
          <input type="email" id="emailAddress" class="input-text" required="required" name="emailAddress" placeholder="ENTER YOUR EMAIL">
          <input type="submit" id="submit-email" class="small-button" value="JOIN">
        </form>
      </div>
      <div class="span6">  
        <ul class="unstyled">
          <li><a href="/">Experiments</a></li>
          <li><a href="http://open311.org/" target="_blank">Open311</a></li>
          <li><a href="/">About</a></li>
          <li><a href="/">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
